{% load static %}
<div class="col-md-3 col-6" id="company_genres">
    <h6 class="fw-bold">Company Genre</h6>
    <table class="table">
        <tbody>
        {% for genre in company_genres %}
        <tr>
            <td>
                <label class="labl">
                    <input hx-get="{% url 'get_top_companies' %}" hx-target="#top_companies" hx-swap="outerHTML" type="radio" name="company_genre" value="{{ genre }}"/>
                    <div>{{ genre }}</div>
                </label>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>